.App {
  text-align: center;
}

.personalinfo{
  background-color: cadetblue;
  }
  .address{
  background-color: chocolate;
  }
  .email{
  background-color: darksalmon;
  }
  .name{
  background-color: gold;
  }